{% extends "base.html" %}
{% block content %}
{% import "bootstrap/form.html" as wtf %}
<!-- Content Section -->
<section class="h60">
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <div class="card-title">
                    <h3>Account Information</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label for="email">Email:</label>
                        <div class="lead" name="email">{{current_user.emailid}}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="dateJoined">Username:</label>
                        <div class="lead" for="dateJoined">{{ username }}</div>
                   
                   
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="name">Contact Number:</label>
                        <div class="lead" name="name">{{current_user.phone}}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="address">Address:</label>
                        <div class="lead" name="address">{{ current_user.address  }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}