/*Setting Web page font*/
html,
body {
  font-family: "Quicksand", sans-serif;
}

/*Setting basic Web Page Layouts*/
body {
  background-image: url("/static/images/bkgnd.png");
}



main {
  padding-bottom: 40px;
}

/*Seting h1 details*/
h1 {
  font-weight: 900;
  border-left: 10px solid #ffffff;
  padding-left: 10px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 5px rgb(0 0 0 / 0.5);
}

/*Setting up info box on organiser page*/
.info_box {
  padding-top: 20px;
  padding-left: 20px;
}

.info_box a{
  text-decoration: none;
  color: #000;
}

.info_box a:hover{
  color: #ffffff;
}

/*Defining Card Details on organiser page*/
.card-img-top {
  height: 200px;
  object-fit: cover;
  }

.card-body {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 5px rgb(0 0 0 / 0.5);
}

/*Card title specific to home page*/
.card-title{
  width: 100%;
  text-align: center;
}

.card-title a{
  color: #000;
  text-decoration: none;
}

.card-title a:hover{
 color: #ffffff; 
}
/*Card title specific for events*/
.card-event-title{
  background-color: none;
  box-shadow: none;
}

/*Styling for view_events.html*/
.card-header, #card-header{
  color:#fffafa;
}


.border-dark{
  background-color: #ffffff;
}

/*styling the figure caption below organiser images on their page */
.figure-caption {
  color: #000000;
}




/*styling navigation*/
.dropdown-menu-dark .dropdown-item {
  color: #fffafa;
}

/*styling card buttons*/
.btn {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  margin-top: 0.25rem;
  background-color: #ffffff;
}

.control-label {
  font-weight: 800;
}

.figure {
  margin: auto;
  display: block;
}

/*Designing navigation bar*/
.navbar {
  background-color: #000000;
  color: #000000;
}

.nav-link {
  color: #ffffff !important;
}

.border-bottom {
  border-bottom: 1px solid #000000 !important;
}

.dropdown-menu {
  background-color: #000000;
}

.form-group {
  margin: auto;
  padding: 10px;
}

.img-thumbnail {
  border-color: #ffffff;
}

#index-cards {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

#searchbtn{
  margin-top: 0;
}

#page-container {
  min-height: 70vh;
}

/*Desiging Genre and Cities*/
#genre-images {
  max-height: 200px;
}

#genre-links{
  color:#000000;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 1000;
}

/*Setting history Images*/
#history-image{
  max-height: 240px;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}
